#============ REQUIRED =============#
# Hostname of this overclock profile is for
VALID_HOST=pentup
# Number of cards in this box. 
CARDS=5

######### CONTROL WHAT ATTRIBUTES WE ARE OVER/UNDERCLOCKING #########
# If these vars are == "YUP" then the associated GPU attribute array needs to be set
#Control whether we manually set the fans speed
#
#If this is YUP, need to define GPUFanControlState and GPUTargetFanSpeed arrays
SET_FAN=YUP
#If this is YUP, need to define GPUPowerMizer array
SET_PM=nope
#If this is YUP, need to define GPUMemoryTransferRateOffset array
SET_MEM=YUP
#If this is YUP, need to define GPUPowerLimit array
SET_PL=nope
#If this is YUP, need to define GPUGraphicsClockOffset
SET_CORE=YUP



#Configuration arrays.
#To see absolute maximums for these values see overclock.sh
#An array index identifies a GPUID. Each arrays.length should equal to $CARDS
## If set to 0 fans will be managed automatically (this is default, if SET_FAN != YUP)
## If set to 1 fans will be manually controlled and you MUST set a value for fan speed 
## in GPUTargetFanSpeed
GPUFanControlState=(1 1 1 1 1)
## This is the speed fan, between 0-100
GPUTargetFanSpeed=(85 80 85 100 85)
## Enable high performance mode (1).
## This doesn't seem to do anything on GTX1060's
GPUPowerMizer=(1 1 1 1 1)
## The absolute power limit in watts. Defaults to 120 for 1060's
GPUPowerLimit=(100 100 100 100 100)
## Core Clock offset. Can us negative values to underclock
GPUGraphicsClockOffset=(0 0 0 0 0)
## Memory Clock offset
GPUMemoryTransferRateOffset=(1500 1500 1500 1500 1500)








